.container {
  background-color: var(--color-primary);
  padding: 60px;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.contacts div p {
  color: var(--color-accent);
  font-size: 60px;
  margin: 0px;
}

.contacts p {
  color: var(--color-accent);
  font-size: 44px;
  margin: 0;
}